.party {
	min-height: 675px;
	display: flex;
	align-items: center;
	&__row {
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	&__title {
		margin: 0px 0px 100px 0px;
		position: relative;
	}
	&__title::before{
		content: "";
		position: absolute;
		height: 5px;
		width: 60px;
		background-color: $main-color;
		top: 50%;
		left: 50%;
		transform: translate(-50%, 70px);
	}

	&__subTitle {
		margin: 0px 0px 25px 0px;
	}
}

